@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --header-max-width: 1200px;
  --transition-time: 0.1s;
}

.light-theme {
  --shadow-color: grey;
  --header-color: snow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0px 2px 10px var(--shadow-color);
  background-color: var(--header-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  max-width: var(--header-max-width);
}

.logo {
  display: flex;
  align-items: center;
  gap: .2rem;
  user-select: none;
}

.add-book-button {
  font-size: 1.2rem;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  padding: .5rem;
  cursor: pointer;
  transition: background-color var(--transition-time) ease;
}

.add-book-button:hover {
}

