@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --max-width: 1200px;
  --transition-time: 0.3s;
}

.light-theme {
  --shadow-color: grey;
  --header-color: snow;
  --accent-color: chocolate;
  --hover-accent-color: rgb(182, 96, 34);
  --bg-color: rgb(237, 237, 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  font: inherit;
  outline: none;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-color)
}

header {
  box-shadow: 0px 2px 10px var(--shadow-color);
  background-color: var(--header-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  max-width: var(--max-width);
}

.logo {
  display: flex;
  align-items: center;
  gap: .2rem;
  user-select: none;
}

.logo i {
  color: var(--accent-color);
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--header-color);
  font-weight: bold;
  border-radius: 8px;
  padding: .5rem;
  transition: background-color var(--transition-time) ease;
}

button:hover {
  background-color: var(--hover-accent-color);
}

button:active {
  background-color: var(--accent-color);
}

.add-book-button.standard-version {
  font-size: 1.2rem;
}

.add-book-button.mobile-version {
  display: none;
  --size: 3.5rem;
  border-radius: 50%;
  font-size: 3rem;
  width: var(--size);
  height: var(--size);
  position: fixed;  
  right: 2rem;
  bottom: 2rem;
  z-index: 1;
}

.add-book-button.mobile-version.bottom-of-page {
  position: absolute; 
  bottom: 0;
}

main {
  position: relative;
  min-height: 25rem;
  flex: 1;
}

.main-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.pagemeter {
  text-align: center;
  font-size: 1.5rem;
  color: var(--accent-color);
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 80%), 1fr));
  padding: 1rem 0;
  gap: 1rem;
}

.books-grid:empty {
  padding: 0;
}

.book-card {
  user-select: none;
  cursor: pointer;
  --radius: 10px;
  --padding-left: 1rem;
  background-color: var(--header-color);
  border-radius: var(--radius);
  box-shadow: 5px 5px 10px var(--shadow-color);
  padding-left: var(--padding-left);
  position: relative;
}

.remove-card-button {
  position: absolute;
  --font-size: 1.5rem;
  font-size: var(--font-size);
  font-weight: normal;
  height: var(--font-size);
  width: var(--font-size);
  top: .5rem;
  right: .5rem;
  transition: all 0.2s ease-in-out;
}

.remove-card-button:hover {
  transform: scale(1.2) rotate(90deg);
}

.book-card-content {
  height: 100%;
  padding: 1rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-card::before {
  content: "";
  position: absolute; 
  top: 0; bottom: 0; left: 0;
  width: var(--padding-left);
  border-radius: var(--radius) 0 0 var(--radius);
  background-color: var(--accent-color);
  transition: background-color 0.2s ease;
}

.book-card:hover::before {
  background-color: var(--hover-accent-color);
}

.book-card .wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-title, 
.book-info .name {
  --line-height: 2.5rem;
  line-height: var(--line-height);
  max-height: calc(2 * var(--line-height));
  overflow: clip;
  word-wrap: break-word;
}

.book-author,
.book-info .author {
  line-height: 2.5rem;
  height: 2.5rem;
  color: grey;
  overflow: clip;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer {
  text-align: center;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

footer a {
  position: relative;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

footer a::after {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  width: 0%;
  transition: width .1s;
  pointer-events: none;
}

footer a:hover::after {
  width: 100%;
}

.modal {
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--bg-color);
  transition: transform 0.2s ease-in-out;
  z-index: 3;
  width: min(75%, 25rem);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.book-info {
  text-align: center;
  width: 100%;
}

#remove-book-modal {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

#remove-book-modal .buttons {
  display: flex;
  gap: 2rem;
}

#remove-book-modal button {
  width: 4rem;
}

#remove-book-modal .yes {
  background-color: #e7120d;
}

#remove-book-modal .yes:hover {
  background-color: #b90e0a;
}

#remove-book-modal .no {
  background-color: lightgrey;
  color: black;
}

#remove-book-modal .no:hover {
  background-color: #a9a9a9;
}

#remove-book-modal .book-name::before,
#remove-book-modal .book-name::after {
  content: "\"";
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.input {
  position: relative;
  --padding: .5rem;
  overflow: hidden;
  transition: opacity var(--transition-time) ease-in-out;
}

input {
  position: relative;
  padding: var(--padding);
  width: 100%;
  border-radius: 10px;
  background-color: var(--header-color);
  border: 1px solid transparent;
}

[name="pages-read"]:disabled {
  opacity: 0.5;  
}

input:disabled ~ label {
  opacity: 0.5;
  cursor: default;
}

input[type="checkbox"] {
  cursor: pointer;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateX(-100%);
}

label {
  user-select: none;
}

.input label, .error-message {
  position: absolute;
}

.input label {
  cursor: text;
  color: grey;
  padding: var(--padding);
  left: 0;
  transition: transform var(--transition-time) ease;
}

.is-read {
  font-size: 1rem;
  display: flex;
  justify-content: start;
  gap: .5rem;
}

.is-read > input {
  width: 1rem;
  accent-color: var(--accent-color);
}

.error-message {
  cursor: default;
  position: fixed;
  padding-left: var(--padding);
  color: red;
  font-size: .8rem;
  opacity: 0;
  transition: all var(--transition-time) ease;
  z-index: 0;
}

.invalid {
  border-color: red;
}

input.invalid:placeholder-shown ~ .empty-error,
input.invalid:not(:placeholder-shown) ~ .invalid-error {
  opacity: 1;
} 

#empty-library-message-wrapper {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#empty-library-message {
  opacity: 0.6;
  color: var(--accent-color);
  text-align: center;
  user-select: none;
  z-index: -1;
}

#empty-library-message i {
  font-size: 20rem;
}

#empty-library-message p {
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: black;
  opacity: 0.6;
  display: none;
  z-index: 2;
}

.overlay.active {
  display: block;
}

.hidden {
  display: none !important;
}

/* Remove arrows from input type numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media only screen and (max-width: 450px) {
  .header-content {
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .add-book-button.standard-version {
    display: none;
  }
  
  .add-book-button.mobile-version {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
