@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  --max-width: 1200px;
  --transition-time: 0.1s;
}

.light-theme {
  --shadow-color: grey;
  --header-color: snow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  box-shadow: 0px 2px 10px var(--shadow-color);
  background-color: var(--header-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  max-width: var(--max-width);
}

.logo {
  display: flex;
  align-items: center;
  gap: .2rem;
  user-select: none;
}

.add-book-button {
  font-size: 1.2rem;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  padding: .5rem;
  cursor: pointer;
  transition: background-color var(--transition-time) ease;
}

main {
  flex: 1;
}

.main-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.pagemeter {
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem 0;
  gap: 1rem;
}

.book-card {
  border: 1px solid black;
  height: 20rem;
}

footer {
  text-align: center;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

footer a {
  position: relative;
  color: black;
  text-decoration: none;
}

footer a::after {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  border-bottom: 1px solid black;
  width: 100%;
  transition: width .1s;
  pointer-events: none;
}

footer a:hover::after {
  width: 0%;
}